<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" href="/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/checkIn.css">

    <title>Check in here</title>
  </head>

  <body>
    <div class="navbar">
      <nav>
        <button id="userBack" class="glyphicon glyphicon-chevron-left back btn btn-success btn-sm" onclick="goBack()">Back</button>
        <img class ="skipitLogo" src="../images/skipitLogo.jpg" alt="Skipit Logo" />
      </nav>
    </div>

    <div class="whitebar"></div>

    <div class="container">
      <div class="row">
        <div id="restDetails">
        </div>
      </div>

      <div class="well row">
        <div id="page">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <form id="checkInForm">
                <input class="form-control guest-number" name="guests" type="number" id="number" max="8" min="1" value="2" required>
              </form>
              <div class="col-lg-2 col-md-2 col-sm-2 pull-right">
                  <button type="submit" class="btn btn-primary guest-number-btn pull-right" form="checkInForm" id="checkInBtn">Check in</button>
              </div>
            </div>

          </div>
        <div id="queue">
          <div class="col-lg-4 col-md-4 col-sm-4">
              <span class="queue-pos"><h3 class="pos-text">Your position in the queue: </h3>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
              <span class="queue-pos" id=numPeopleWaitingTable></span>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary" id="leaveQueueBtn">Leave queue</button>
          </div>
        </div>
        <div id=anotherQueue>
          Sorry, you cannot join this queue because you are queueing for another restaurant
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col-lg-12">
          <!-- <a href ="/logout">LOGOUT</a> -->
          <button type="submit" class="btn btn-primary btn-sm" id="logOutBtn">
            Logout
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </footer>

  </body>
  <script type="text/html" id='rest-template'>

    <div class='restDetailWrapper'>

      <div class="row img-with-description">
        <div class="col-lg-5 col-md-6 col-xs-12 img-with-description">
          <img class='restLogo' src=" <%= image  %> " >
        </div>
        <div class="col-lg-5 col-md-6 col-xs-12">
          <p class='rTimes'> <%= openTime %> - <%= closeTime %> </p>
          <h3 class='rName'> <%= restName %> </h3>
          <p class='rAddress'> <%= address %> </p>
          <p class='rDescription'> <%= description %> </p>
        </div>
      </div>

    </div>

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="../back.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="../user/js/logout.js"></script>
  <script src="../user/js/checkIn.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

</html>
