html {
  margin: 0;
  padding: 0;
}

#checkInForm{
  display:inline;
}

.guest-number {
  display: inline;
  width: auto;
}

#leaveQueueBtn, .guest-number-btn, .guest-number-btn:hover {
  color: #d72809;
  border: 2px solid #d72809;
  background-color: white;
}

#queue-pos-num {
    color: white;
    font-size: 2em;
    background-color: #d72809;
    border-radius: 50%;
    padding: 5px 14px;
}

#numPeopleWaitingTable {
  display: inline-block;
}

#queue {
  min-height: 16em;
}

#table-ready {
  color: black;
  font-size: 1.5em;
}

.restLogo {
  width: 100%;
  height: auto;
}

.image {
  padding:0;
}

.rest-description {
  margin-top: 1em;
  width: 90vw;
  height: auto;
  padding: 0;
}

span {
  display: inline-block;
}

.rAddress {
  font-family: Georgia, Serif;
}

.rDescription {
  font-family: Georgia, Serif;
  text-align: justify;
}

.rTimes {
  font-family: Georgia, Serif;
  font-weight: bold;
}

.rName {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 600;
}

.row {
  margin:auto;
}

.well {
  margin-bottom: 4em;
}

.img-with-description {
  padding: 0;
}
