nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  font-family:sans-serif;
  border-bottom: 2px solid #F49C9A;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.skipitLogo {
  width:10em;
}

#passwordIncorrect{
  display:none;
  color: red;
}

.restDetailWrapper{
  position:relative;
  width:100%;
}

.restLogo{
  height:15em;
  width:100%;
}

.restName{
  position: absolute;
  top: 0em;
  left: 0;
  width: 100%;
}

.restDescription{
  position: absolute;
  top: 6em;
  left: 0;
  width: 100%;
}

.restAddress{
  position: absolute;
  top: 1.9em;
  font-size:0.8em;
  left: 6.5;
  width: 100%;
}
