html, body {
    margin: 0;
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }

::-webkit-scrollbar {
    display: none;
}

.listOfPeople{
  width: 80%;
  height: 50%;
  border: 3px solid;
  overflow-y: scroll;
  margin-left: 10%;
  margin-top: 2em;
  border-radius: 2%;
  opacity: 0.8;
}

.peopleDetails{
  width: 100%;
  padding-left: 3%;
  list-style: none;
}

.personDetails > div{
  display: inline-block;
  padding-right: 1em;
  margin: 1em 0 1em 0;
  font-size: 1.5em;
}

.personName{
  width: 10em;
  word-wrap: break-word;;
}

.personTel{
  width: 10em;
}


.modalInitButton {
  position: fixed;
  bottom:0;
  height: 10%;
}

.form-control{
  margin-bottom: 1.5em;
}

.red, .red:focus{
  background-color: #BE0000;
  border-color: #f4e6e6;
  border: 1em;
  outline: 0;
}

.red:hover, .red:active{
  background-color: #e04a4a;
}

#restBack {
  display: inline-block;
  background-color: white;
  color: #BE0000;
  border: solid 1px #BE0000;
  margin: 5px;
}

.seatedButton, .tableReadyButton{
  margin-right: 1em;
  font-size:14px;
}

.cannotSeatButton, .noShowButton{
  font-size:14px;
}

.gap {
  display:none;
}

/*iPad Portrait*/
@media(max-width: 768px) {

  .personDetails > div{
    font-size: 1.2em;
  }

  .listOfPeople{
    width: 90%;
    margin-left: 5%;
  }
}

/*iphone5*/
@media(max-width: 320px) {
  .personDetails > div{
    display: block;
    font-size: 1.4em;
  }

  .tableReadyButton, .seatedButton{
    font-size:13px;
  }

  .cannotSeatButton, .noShowButton{
    font-size:13px;
  }

}


@media(max-width: 450px) {
  .tableReadyButton, .seatedButton, .cannotSeatButton, .noShowButton{
    font-size:13px;
  }

  .gap {
    display:block;
  }
}
