html, body {
    margin: 0;
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;}

/*nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6em;
  background-color: white;
  color: #BE0000;
}*/


::-webkit-scrollbar {
    display: none;
}

.listOfPeople{
  width: 80%;
  height: 50%;
  border: 3px solid;
  overflow-y: scroll;
  margin-left: 10%;
  margin-top: 2em;
  /*background-color: #bc1414;*/
  border-radius: 2%;
  opacity: 0.8;
}

.peopleDetails{
  width: 100%;
  padding-left: 8%;
  list-style: none;
}

.personDetails > div{
  display: inline-block;
  padding-right: 1em;
  margin: 1em 0 1em 0;
  font-size: 1.5em;
}

.personName{
  min-width: 10em;
}

.personTel{
  min-width: 7em;
}

.seatedButton{
  margin-right: 1em;
}

.modalInitButton {
  position: fixed;
  bottom:0;
  height: 10%;
}

.form-control{
  margin-bottom: 1.5em;
}

.red, .red:focus{
  background-color: #BE0000;
  border-color: #f4e6e6;
  border: 1em;
  outline: 0;
}

.red:hover, .red:active{
  background-color: #e04a4a;
}

#restBack {
  display: inline-block;
  background-color: white;
  color: #BE0000;
  border: solid 1px #BE0000;
  margin: 5px;
}
