html, body {
    margin: 0;
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }

/*nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6em;
  background-color: white;
  color: #BE0000;
}*/

#restaurantName {
  display: inline-block;
  background-color: white;
  color: #BE0000;
  border: solid 2px #BE0000;
  border-radius:4%;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2em;
}

body{
  text-align:center;

}

#restLogOutButton {
  display: inline-block;
  background-color: white;
  color: #BE0000;
  border: solid 1px #BE0000;
  margin: 5px;
  float:left;
}
/*.skipitLogo {
  width:10em;
  position: absolute;
  right: 1em;
  top: 1em;
}*/
/*
.title {
  margin-top: 0.5em;
  margin-left: 1em;
  font-size: 3em;
}*/

.tablesSummary{
  width: 50%;
  height: auto;
  margin-left: 20%;
  margin-top: 2em;
}

.waitlistTable{
  height: 100%;
  display: table;
  margin-bottom: 2em;
}
.numberCircle {
  height: 8em;
  width: 8em;
  border-radius: 100%;
  display: table;
  float: left;
}

.numPeopleWaiting {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  color: white;
}


.tablesSize {
  display: table-cell;
  vertical-align: middle;
  font-size: 4em;
  padding-left: 1em;
}

.tablesSizeLink{
  color:black;
}

.tablesSizeLink:hover{
  color:black;
  text-decoration:none;
}

.modalInitButton {
  position: fixed;
  bottom:0;
  height: 10%;
  font-size: 2em;
}

.form-control{
  margin-bottom: 1.5em;
}

.red, .red:focus{
  background-color: #BE0000;
  border-color: #f4e6e6;
  border: 1em;
  outline: 0;
}

.red:hover, .red:active{
  background-color: #e04a4a;
}


/*for desktop */
@media(min-width: ) {
  .modalInitButton {
    position: relative;
    bottom:0;
    height: 10%;
    font-size: 2em;
  }
}

/*for iphone 6 */
@media(max-width: 450px) {
  .tablesSize {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    padding-left: 1em;
  }

  /*.skipitLogo {
    width:8em;
  }*/
  .numberCircle {
    height: 4em;
    width: 4em;
    border-radius: 100%;
    display: table;
    float: left;
  }
  /*.title {
    display: none;
  }*/
  .numPeopleWaiting {
    font-size: 3em;
  }
}
