nav {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  font-family:sans-serif;
  height: 10vh;
}

.heading {
  color: #BE0000;
  font-size: 2em;
}

.skipitLogo {
  width:40%;
}

.user-login {
  text-align: center;
  max-width: 350px;
  margin: auto;
  height: 90vh;
}

#user-login {
  background-color: #BE0000;
  border-color: #BE0000;
  width: 50%;
  margin-top: 1.5em;
}

#rest-redirect {
  display: inline-block;
  background-color: white;
  color: #BE0000;
  border: solid 1px #BE0000;
  margin: 5px;
}

#user-login-btn-div {
  margin-top: 20px;
}

.well {
  padding: 0;
  background-color: white;
  border: none;
  box-shadow: none;
}

.modal-header {
  border: none;
  margin-bottom: 2em;
}

.modal-header p {
  color: #aaaaaa;
}

.nav-tabs>li {
  margin-bottom: 0;
}

a {
    color: #555;
}

.nav-tabs {
    border-bottom: 0;
    margin-bottom: 10px;
}

.form-control {
  margin: 1.5em auto 0 auto;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

ul {
  margin: none;
}

.btn, .btn:hover {
  background-color: #BE0000;
  border-color: #BE0000;
}

#incorrect-p, #incorrect-confirm {
  color: #BE0000;
  display: inline-block;
}
